.navBar {
    background-color: #404074;
    font-family: Latto, sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;

}

.container-logo {
    height: 70px;
    display: flex;
    align-items: center;
}

.logo-name {
    color: white;
    font-size: 2rem;
}

.logo {
    height: 100%;
}


.options-menu {
    display: flex;
    justify-content: center;
    flex-grow: 4    ;
}

.options-menu li {
    padding: 15px;
}

.options-menu li:hover {
    background-color: #525297;
}

.active {
    background-color: #525297;
    padding: 10px;
}